

*{
  font-family: "BebasNeue", sans-serif;
  font-color: #657B83;
  border:1px red;
}

body{
  background-image:url('foil.png');
}

div.container {
  margin: 0 auto;  
  width: 800px;
  background-color: white;
  padding: 20px;
}

div.header, div.footer {
  border-bottom: 3px solid #111727;
  background-color:#252525;
  color:white;
  border:1px solid #252525;
}

div.post {
  width:600px;
  margin:0 auto;
}

div.user_widget{
  width:100px;
  float:right;
}

a {  
  text-decoration: none;
  font-color: #111727;
}

a:visited {color: #111727;}

a.link_button {
  padding: 5px;
  border: 2px solid #ddd;
}
a:hover {
  color:#F53E00
}

h1{
  padding: 10px;
  color:white;
}

h2, h3 {
  margin:0;
  margin-top: 20px;
}

h4.posted_on{
  margin-top:10px;
}

h4.return_message{
  color: #F53E00;
}

h2 {
  font-size:24px;
}

p.body, textarea {
  font-family: Georgia;
  font-size:16px;
  line-height: 150%
}

ul.tags {
  padding:0;
}

ul.tags > li {
  font-size: 12px;
  display:inline;
}

.post {
  width:600px;
  margin: 0 auto;
}

.post.main_page{
  padding-top:10px;
  border-top: 3px solid #F53E00;

}

.post.body{
  margin: 15px 0px;
  border: 0;
  border-bottom: 3px solid #F53E00;
  border-top: 3px solid #F53E00;
  padding-top:30px;
  padding-bottom:30px;
}

.post.tags {
  padding-bottom: 10px;
  border-bottom: 3px solid #F53E00;
}


textarea.post {
  resize:vertical;
}

input.post{
  width:300px;
}


input.post.submit{
  width:149px;
}

.title{
  color:#111727;
  font-size: 24px;
}

input.post.submit, a.button {
  border: 3px solid #F53E00;
  background-color:white;
  font-family: "BebasNeue", sans-serif;
  font-weight:bold;
  font-size: 14px;
  padding: 5px 10px;
}

input.post.submit:hover, a.button:hover{
  background-color:#111727;
  color:#F53E00;
}


.user_widget {
  float: right;
  color: #ddd;
}







blockquote {
  font-style: italic;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  margin: 30px 5px;
}

.pagination a {
  color: #222;
}

.pagination a.disabled {
  color: #ccc;
}


.pagination ol {
  display:inline;
  padding:0;
}

.pagination li {
  display:inline;
}


.pagination a.disabled {
  color: #ccc;
}

