

*{
  font-family: "BebasNeue", sans-serif;
  font-color: #657B83;
  border:1px red;
}

div {
  margin: 0 auto;  
  width: 720px;
  background-color: white;
  padding: 20px;
}

div.container{
  border:1px solid #252525;
}

div.header, div.footer {
  border-bottom: 3px solid #111727;
  background-color:#252525;
  color:white;
  border:1px solid #252525;
}

div.post {
  width:600px;
  margin:0 auto;
}

div.user_widget{
  width:100px;
  float:right;
}

a {  
  text-decoration: none;
  font-color: #111727;
}

a.visited {font-color: #111727;}

a.link_button {
  padding: 5px;
  border: 2px solid #ddd;
}
a:hover {
  color:#F53E00
}

h2, h3, h4 {
  margin-top: 40px;
}

h2 {
  font-size:24px;
}

p.body, textarea {
  font-family: Georgia;
  font-size:16px;
  line-height: 150%
}

ul.tags {
  padding:0;
}

ul.tags > li {
  font-size: 12px;
  display:inline;
}

input.post_form, textarea.post_form{
  margin: 15px 0px;
  border: 0;
  border-bottom: 3px solid #F53E00;
}

div.post_form {
  width:600px;
  margin: 0 auto;
}

textarea.post_form {
  resize:vertical;
  border-top: 3px solid #F53E00;
}

input.post_form{
  width:300px;
}

input.post_form.title{
  color:#111727;
  font-size: 24px;
}

input.post_form.submit{
  border: 3px solid #F53E00;
  background-color:white;
  font-size: 18px;
  width:150px;
}

input.post_form.submit:hover{
  background-color:#111727;
  color:#F53E00;
}


.user_widget {
  float: right;
  color: #ddd;
}







blockquote {
  font-style: italic;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  margin: 30px 5px;
}

.pagination a {
  color: #222;
}

.pagination a.disabled {
  color: #ccc;
}


.pagination ol {
  display:inline;
  padding:0;
}

.pagination li {
  display:inline;
}

a.button {
  color: #222;
  border:1px solid black;
  padding:5px 10px;
  margin-left:-5px;
}

.pagination a.disabled {
  color: #ccc;
}

.pagination a.active {
  background-color: #666666;
  font-color:white;
}

