<div class="post">
  <h2 class="post_title"><a href='/post=<%= post_id %>'><%= title %></a>
  
  <p class="body"><%= text %></p>
  <ul class="tags">
    <% tags.each do |tag| %>
      <li><%= tag.tag_name %></li>
    <% end %>
  </ul>

</div>
