  <form action='/user/login' method='post'>
    <input type='text' name='email' placeholder='E-mail' style='color:white'/ >
    <input type='password' name='password' placeholder='Password' style='color:white' />
    <br><br>
    <input type='submit' style='color:#657B83' value='Login' class="login submit">
    <a class = "button" style='color:#657B83' href='/user/create'>New User</a>
  </form>


