<div class='login'>
  <form action='/user/login' method='post'>
    <input type='text' name='email' placeholder='E-mail'/ >
    <input type='password' name='password' placeholder='Password' />
    <br>
    <input type='submit' value='Login' class="login submit">
  </form>
</div>

