<div class='post'>
  <form action='user/create' method='post'>
    <input class='' type='text' name='email' placeholder='E-mail'></input>
    <input type='password' name='password' placeholder='Password'></input>
    <input type='submit' value='Create'>
  </form>
</div>
