<div class='post'>
  <form action='/user/create' method='post' class = 'create_user'>
    <input class='' type='text' name='email' placeholder='E-mail*' />
    <br>
    <input type='password' name='password' placeholder='Password*' />
    <br>
    <input class='' type='text' name='first_name' placeholder='First Name' />
    <br>
    <input class='' type='text' name='last_name' placeholder='Last Name' />
    <br>
    <input class='' type='text' name='user_name' placeholder='Username*' />
    <br><br>
    <input type='submit' class='post submit' value='Create'>
  </form>
  <%=print_errors(user) %>
</div>
