<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<title><%= @title || "Badass Blog"%></title>
</head>
<body>
  <table width="800" class='header'>
    <tr>
      <td width = '550px'><a href='/'><h1>My Sweet Blog</h1></a></td>
      <td width = '250px'>
        <%= erb :_user_widget, :locals => { :user => 'jack' }%>

      </td>
    </tr>
  </table>

  <div class="container">


  <%= "<a class='post button' href='/posts/new'>New Post</a>" if session[:user_id] %>


  <%= yield %>

  </div>
<table class="footer">
      <tr><td>Copyright &copy; 2013 Jack is Awesome, inc.</tr></td>
</table>
</body>
</html>
