<div class="post">
  <%= erb :_post, :locals => {:post => post} %>
  <%= "<a href='/user/#{post.user.user_name}/posts/#{post.title}/edit' class = 'post button'>Edit This Post</a>" if find_user %>
</div>
